<div class="search" style="width:100%;background-color: #bbb;">
  <div style="padding:20px">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/lunr.js"></script>
    <script src="{{ site.baseurl }}/js/search.js"></script>
    <h4>Explore the Collection</h4>
    <input placeholder="Search..." type="search" id="search" class="search-input" style="width:200px;font-size: 16px;border:1px black solid;padding:0;">
    <br/><br/>
    <div id="results" class="result"></div>
  </div>
</div>
<div style="height:50px"></div>
