---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title{font-family: serif; font-size:4em;}
.site-title:hover{text-decoration:none !important;}
.trigger a {font-family: serif;}

#openseadragon {
  border: none !important;
  background-color: #ccc;
}

#photo-page-body {
  .prevnext { width: 100%; }
  .data { width: 100%; }
  .left { text-align: left; vertical-align: top; }
  .right { text-align: right; vertical-align: top; }
  .middle {
    float: none;
    text-align: center;
  }
  table {
    background-color: #fff;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #bbb;
    padding: 10px;
    overflow-x: scroll;
  }
  td {
    border: 1px solid #bbb;
    padding: 10px;
    overflow-x: scroll;
  }
  #obj-title {
    font-weight: bolder;
  }
}

.scroller{
  tr {
    max-width: 100%
  }
  td{
    overflow-x: scroll;
  }
}
