---
layout: default
---
<style>
/* * { box-sizing: border-box ; }*/

/* force scrollbar */
html { overflow-y: scroll ; }

/* ---- grid ---- */

/* clear fix */
.grid:after {
  content: '' ;
  display: block ;
  clear: both ;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50% ;
}

.grid-item {
  float: left ;
  overflow: hidden;
}

.grid-item img {
  display: block ;
  width: 100% ;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.grid-item:hover img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


</style>

<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<div class="grid">
  <div class="grid-sizer"></div>
  {% for photo in site.photos %}
      <div class="grid-item">
        <a href="{{ site.url }}/photos/{{ photo.title | slugify }}">
          <img src="{{ photo.native_jpg }}"/>
          <!--<div class="desc">{{ photo.title }}</div>-->
        </a>
      </div>
  {% endfor %}
</div>

<script>
  var $grid = $('.grid').imagesLoaded( function() {
    $grid.masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    });
  });
</script>
