---
layout: page
---
<div id="photo-page-body">

{% include osd_image.html %}

<table class="data">
  {% if page._date%}
  <tr><td><b>Date:</b></td><td>{{ page._date }}</td></tr>
  {% endif %}
  {% if page.subjects%}
  <tr><td><b>Subjects:</b></td><td>{{ page.subjects }}</td></tr>
  {% endif %}
  {% if page.summary%}
  <tr><td><b>Summary:</b></td><td>{{ page.summary }}</td></tr>
  {% endif %}
  {% if page.dlc_link%}
  <tr><td><b>DLC_Link:</b></td><td><a href="{{ page._dlc_link }}">{{ page.dlc_link }}</a></td></tr>
  {% endif %}
  {% if page.format%}
  <tr><td><b>Format:</b></td><td>{{ page.format }}</td></tr>
  {% endif %}
  {% if page._name%}
  <tr><td><b>Name:</b></td><td>{{ page._name }}</td></tr>
  {% endif %}
  {% if page.shelf_location%}
  <tr><td><b>Shelf_location:</b></td><td>{{ page.shelf_location }}</td></tr>
  {% endif %}
</table>
</div>
